body {
  font-family: 'Source Sans Pro', sans-serif;
}

:root {
  --theme-color: #e40000;
  --primary-color: #fb811e;
  --primary-light: #fcf1e7;
  --primary-dark: #ffc945;
  --secondary-color: #009f4d;
  --font-color: #707070;
  --bg-color: #fff;
  --heading-color: #060606;
  --footer-color: #060e1f;
  --footer-cpy-color: #040a17;
}

.service-section {
	background:var(--secondary-color);
}
.small-title{
	color:var(--primary-color);
}
.title-style {
	color:var(--heading-color);
	font-size: 40px;
    line-height: 50px;
    font-weight: 600;
}
.title-bg-content {
	position: absolute;
	color:var(--bg-color);
	font-weight: bold;
	z-index: 0;
	bottom: 50%;
	left: 50%;
	transform: translate(-50%,50%);
	font-size: 14vw;
	opacity: .15;
}

.card-header img {
	width: 100%;
  border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}


.detail h4 {
  font-weight: 600;
}
.card {
	border-radius: 15px;
  border:none;
}
.label-style{
	color: var(--secondary-color);
    display: inline-block;
    background: rgb(0 159 77 / 16%);
    padding: 5px 20px;
    border-radius: 15px;
    font-weight: 600;
}
.service-heading{
    display: block;
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    color:var(--heading-color);
    margin: 15px 0;
}

  .imginfo__box {
	background:var(--primary-color);
    position: absolute;
    left: -85px;
    bottom: 38px;
    padding: 25px;
    box-shadow: 30px 30px 30px rgb(0 0 0 / 20%);
    min-width: 280px;
    border-radius: 0 0 100px 0;
    text-align: center;

  }
  .img-fluid  {
    border-radius: 35px;
  }
  .imginfo__box p {
	font-size: 18px;
	color: var(--bg-color);
  border-radius: 10px;
  }
  .imginfo__title {
    font-size: 70px;
    line-height: 80px;
    color:var(--bg-color);
    font-weight: 600;
    margin-bottom: 0;
}
.grids_info span {
	font-size: 30px;
	color:var(--primary-color);
}
.features15-para {
	color: var(--heading-color);
  
}
.features15-para h4{
  font-weight: 600;
}




@media screen and (max-width: 991px) {
  .title-style {
    font-size: 35px;
  }

  
}

@media screen and (max-width: 768px) {
  .title-style {
    font-size: 32px;
  }
}


@media screen and (max-width: 568px) {
  .title-style {
    font-size: 30px;
  }
}